{% extends 'blog/base.html' %}
{% load blog_tags %}
{% block title %}{{ site_configs.name }} - 博客文章{% endblock %}

{% block l_main %}
<div class="l_main">
    <section class="post-list">
        {% for blog_article in blog_articles %}
        <div class="post-wrapper">
            <article class="post reveal" data-sr-id="0" style="visibility: visible; opacity: 1; transition: all 0.25s ease 0s, opacity 0.6s cubic-bezier(0.5, 0, 0, 1) 0s;">
                <section class="meta">
                    <div class="meta" id="header-meta">
                        <h2 class="title"><a href="{{ blog_article.get_absolute_url }}">{{ blog_article.title }}</a></h2>
                        <div class="new-meta-box">
                            <div class="new-meta-item author"><a href="{% url 'blog:category_index' blog_article.category.name %}"><i class="fas fa-list" aria-hidden="true"></i>{{ blog_article.category.name }}</a></div>
                            <div class="new-meta-item date"><a class="notlink"><i class="fas fa-clock" aria-hidden="true"></i>{{ blog_article.created_time |date:'Y-m-d H:i' }}</a></div>
                            <div class="new-meta-item browse busuanzi"><a class="notlink"><i class="fas fa-eye" aria-hidden="true"></i>{{ blog_article.views }}</a></div>
                        </div>
                        <hr>
                    </div>
                </section>

                <section class="article typo">
                    {{ blog_article.description | make_markdown | safe | truncatewords_html:'20' }}
                    <div class="readmore"><a href="{{ blog_article.get_absolute_url }}" class="flat-box waves-effect waves-block"><i class="fas fa-book-open fa-fw" aria-hidden="true"></i> 阅读全文</a></div>
                    <div class="full-width auto-padding tags">
                        {% for tag in blog_article.tags.all %}
                        <a href="{% url 'blog:tag_index' tag.name %}"><i class="fas fa-tag fa-fw"></i>{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                </section>
            </article>
        </div>
        {% endfor %}
    </section>
    <br>

    <div class="prev-next">
        <div class="prev-next">
           {% if not page.index == page.prev %}
            <a class="prev" rel="prev" href="?page={{ page.prev }}"><section class="post prev"><i class="fas fa-chevron-left" aria-hidden="true"></i>&nbsp;上一页&nbsp;</section></a>
            {% endif %}
            <p class="current">{{ page.index }} / {{ page.pages }}
            {% if not page.index == page.next %}
            <a class="next" rel="next" href="?page={{ page.next }}"><section class="post next">&nbsp;下一页&nbsp;<i class="fas fa-chevron-right" aria-hidden="true"></i></section></a>
            {% endif %}
        </div>
    </div>


</div>
{% endblock %}
